
body {
  padding: 20px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  background-color: #fff;
  letter-spacing: 1px !important;
}

canvas {
  margin: 100px auto;
}

select {
  margin-top: 5px;
  margin-bottom: 10px;
}

.chart-data-div {
  display: none;
}
.chart h3 {
  margin-top: 150px;
  text-align: center;
}

.nav-main {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.nav-main button {
  letter-spacing: 1px;
  display: inline-block;
  margin: 20px;
  padding: 15px 25px;
  border: 1px white solid;
  border-radius: 1.6rem;
  background-color: white;
  transition: all 500ms;
}

.nav-main button:hover {
  border: 2px white solid;
  box-shadow: 2px 2px 3px 4px rgb(82, 162, 243);
  transform: translateY(-6px);
}

.perf-ul {
  font-size: 16px;
  line-height: 30px;
}

.chart-container {
  position: relative;
  margin: auto;
  height: 30vh;
  width: 30vw;
}

.todos div {
  display: block;
  /* margin: 80px 200px;
  margin-right: 0px; */
  width: 550px;
  height: 464px;
  border: 1px solid rgb(217, 211, 211);
  border-radius: 24px;
  padding: 0 38px 12px;
}

.todos div input {
  border-radius: 8px;
  border: 1px solid rgb(217, 211, 211);
  padding: 5px;
}

.todos div button {
  letter-spacing: 1px;
  display: inline-block;
  margin: 10px;
  padding: 15px 25px;
  border: 1px white solid;
  border-radius: 1.6rem;
  background-color: white;
  transition: all 500ms;
}

.todos div button:hover {
  border: 2px white solid;
  box-shadow: 2px 2px 3px 4px rgb(82, 162, 243);
  transform: translateY(-6px);
}

.edit-container {
  margin-top: 50px;
}

textarea {
  margin-top: 15px;
}
label {
  margin-bottom: 7px;
}

h1 {
  margin: 100px;
}

h2 {
  display: block;
  text-align: left;
  margin-bottom: 30px;
}

body nav:nth-child(2) {
  margin: 30px;
}

body nav:nth-child(2) a {
  border: 1px solid rgb(0, 111, 230);
  padding: 10px;
  letter-spacing: 1.5px;
  background-color: #ffffff;
  color: black;
  transition: all 250ms linear;
  border-radius: 1.6rem !important;
}

body nav:nth-child(2) a:hover {
  box-shadow: 2px 2px 3px 4px rgb(82, 162, 243);
  transform: translateY(-6px);
}

button.shadow-btn .shadow-btn-red{
  letter-spacing: 1.5px;
  transition: all 250ms linear;
  border-radius: 1.6rem !important;
  margin-top: 50px;
}

.shadow-btn:hover {
  box-shadow: 2px 2px 3px 4px rgb(82, 162, 243);
  transform: translateY(-6px);
}

.shadow-btn-red:hover {
  box-shadow: 2px 2px 3px 4px rgb(232, 4, 4);
  transform: translateY(-6px);
}

nav.navbar {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: rgb(214, 214, 214);
}

aside {
  text-align: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 80px;
}

.weather {
  display: block;
  width: 550px;
  height: 550px;
  /* margin: 80px 50px; */
}
a {
  letter-spacing: 1px;
  color: #a5ddf4;
}

tr form {
  display: inline;
}

table {
  box-sizing: content-box;
}

nav {
  display: flex;
  justify-content: flex-end;
}

.add-new {
  margin: 20px;
}

div.container {
  margin: 50px 20%;
}

a.login {
  justify-self: flex-end;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.employee-list {
  margin-top: 50px;
  font-size: 20px;
  line-height: 40px;
  border-bottom: 2px solid rgb(212, 201, 201);
}

.navbar {
  font-size: 17px;
  color: black;
}
.google-img {
  display: flex;
}

.google-img a {
  margin-left: 10px;
  color: black;
  text-decoration: none;
}

.form-floating {
  margin-top: 25px;
  margin-bottom: 25px;
}

.google-img img {
  margin-left: 10px;
  height: 25px;
  width: 25px;
  align-content: center;
}

.offcanvas {
  background-color: rgb(214, 214, 214);
}

.chartBox {
  margin: 50px 150px;
}

#logout {
  margin-left: 10px;
  color: black;
  text-decoration: none;
}

#salary {
  display: inline-block;
  font-size: 50px;
  margin: 80px;
}

#dollar-sign {
  color: rgb(7, 158, 7);
}

#performance {
  display: inline-block;
}

#star {
  color: red;
}

span.input-group-text {
  height: 58px;
  align-self: center;
}

.btn-show-page {
margin: 20px 10px;
border-radius: 1.6rem !important;
}

input.shadow-btn {
  letter-spacing: 1px;
  border-radius: 1.6rem !important;
}

.hidden {
display: none;
}

#delete {
  margin-top: 80px;
  width: 100px;
  letter-spacing: 1px;
}

#edit-btn {
  margin-top: 80px;
  border-radius: 1.6rem !important;
}

button#edit-btn {
  margin: 10px;
}

button.shadow-btn {
  border-radius: 1.6rem !important;
}

button.shadow-btn-red {
  border-radius: 1.6rem !important;
}

.shadow-btn-close {
  border-radius: 1.6rem !important;
}

.shadow-btn-close:hover {
  box-shadow: 2px 2px 3px 4px rgb(49, 47, 47);
  transform: translateY(-6px);
}

#todo-delete {
  margin-left: 0px;
  margin-right: 100px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 1px 15px;
  border: 1px white solid;
  border-radius: 1.6rem;
  background-color: white;
  transition: all 500ms;
}

#todo-delete:hover {
  box-shadow: 2px 2px 3px 4px rgb(244, 2, 2);
  transform: translateY(-6px);
}
